# (1)Store and display student information (Name,Age,Grade)

In [5]:
students = [("Aryan",19,"C"),("Om",20,"A"),("Hardik",17,"A")]
print("Student Information:")
for student in students:
    name,age,grade = student
    print(f"Name: {name}, Age: {age}, Grade: {grade}")

Student Information:
Name: Aryan, Age: 19, Grade: C
Name: Om, Age: 20, Grade: A
Name: Hardik, Age: 17, Grade: A

# (2)List prices of grocery items and total them.

In [1]:
items = [("Bread",24),("Milk",28),("Rice",60),("Wheat",55),("Eggs",20)]
print(items)
(a,b),(c,d),(e,f),(g,h),(i,j) = items
s = b + d + f + h + j
print("Total Price = %.2f" %s)

[('Bread', 24), ('Milk', 28), ('Rice', 60), ('Wheat', 55), ('Eggs', 20)]
Total Price = 187.00

# (3)Pair items with prices using tuples

In [2]:
lists = [("Milk",25),("Eggs",50),("Bread",20)]
print("List of items with prices: ")
for i in lists:
    item,price = i
    print(f"{item}  {price}")

List of items with prices:
Milk  25
Eggs  50
Bread  20

# (4)Store and display Train schedule as tuples

In [3]:
Train = (("Rajdhani","10:00"),("Shatabdi","12:30"),("Duronto", "17:00"))
print(Train)

(('Rajdhani', '10:00'), ('Shatabdi', '12:30'), ('Duronto', '17:00'))

# (5)Sort Employee records by salary

In [4]:
Records = [("John",40000),("Alice",55000),("Raj",30000)]
print("Before sorting: ")
print(Records)
(a,b),(c,d),(e,f) = Records
print("After sorting: ")
sorted_employees = sorted(Records, key = lambda x: x[1])
print(sorted_employees)

Before sorting:
[('John', 40000), ('Alice', 55000), ('Raj', 30000)]
After sorting:
[('Raj', 30000), ('John', 40000), ('Alice', 55000)]

# (6)Count how many Students scored above 75 marks

In [5]:
marks = (67,88,92,74,76,55)
cnt = 0
for i in marks:
    if i > 75:
        cnt = cnt + 1
print("%d Students scored above 75 marks." %cnt)

3 Students scored above 75 marks.

# (7)Create a tuple of stock prices and find the maximum

In [6]:
Prices = (154.5,160.2,149.8,170.1)
Maximum = max(Prices)
print("%.2f" %Maximum)

170.10

# (8)Find the Average Temperature

In [7]:
temperatures = (29.5,30.0,32.2,31.5,28.9)
s = 0
for i in temperatures:
    s = s + i
avg = s / len(temperatures)
print("Average temperature is %.2f" %avg)

Average temperature is 30.42

# (9)Schedule Appointments

In [8]:
Appointments = [("Doctor", "10:00 AM"),("Meeting","2:00 PM")]
print("Scheduled Appointments: ")
for i in Appointments:
    name,time = i
    print(f"Name: {name}  Time: {time}")

Scheduled Appointments:
Name: Doctor  Time: 10:00 AM
Name: Meeting  Time: 2:00 PM

# (10)Store contact information(name, phone number)

In [9]:
contacts = [("Anil",9876543210), ("Priya",9123456780)]
print("Contact information: ")
for i in contacts:
    name,contact_no = i
    print(f"Name: {name}   Mobile no.: {contact_no}")

Contact information:
Name: Anil   Mobile no.: 9876543210
Name: Priya   Mobile no.: 9123456780

# (11)Display exam schedule with subject and time

In [10]:
exams = [("Math","9:00 AM"),("Science","11:30 AM"),("English","2:00 PM")]
print("Exam schedule is as follows: ")
for i in exams:
    subject,time = i
    print(f"Subject: {subject}, Time: {time}")

Exam schedule is as follows:
Subject: Math, Time: 9:00 AM
Subject: Science, Time: 11:30 AM
Subject: English, Time: 2:00 PM